<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94747760173-8fned75ekt9bh5nje8lcdud6k6ask61i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94747760173-8fned75ekt9bh5nje8lcdud6k6ask61i</string>
	<key>API_KEY</key>
	<string>AIzaSyD7pLRx2y_8uE8Fn1jR9-zJ5AHgGxj2PzY</string>
	<key>GCM_SENDER_ID</key>
	<string>94747760173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>engingulek.Clutch</string>
	<key>PROJECT_ID</key>
	<string>clutch-84e0f</string>
	<key>STORAGE_BUCKET</key>
	<string>clutch-84e0f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94747760173:ios:4c5a02e149924373410aa4</string>
</dict>
</plist>